<!DOCTYPE html>

<html>
    <head>
        <title>
            Home Page
        </title>

        <link rel="stylesheet" href="style.css">
    </head>
   

    <body>

            

        <br>

        <div class="slidecontainer">


            <form action="#" method="post">

                <h3>Choose your Graph:</h3>
            
                <select name='graphChoice'>
                    <option value="0">Summing Model </option>
                    <option value="1">AllPoly Model </option>
                    
                    <Br>   
                </select>

                <h3>Choose Attributes: </h3>

                    Acousticness:     <input type="range" min="0" max="100" value="0" class="slider" step="1" name="acousticness">    <Br>
                    Valence:          <input type="range" min="0" max="100" value="0" class="slider" step="1" name="valence">         <Br>
                    Danceability:     <input type="range" min="0" max="100" value="0" class="slider" step="1" name="danceability">    <Br>
                    Energy:           <input type="range" min="0" max="100" value="0" class="slider" step="1" name="energy">          <Br>
                    Instrumentalness: <input type="range" min="0" max="100" value="0" class="slider" step="1" name="instrumentalness"><Br>
                    Liveness:         <input type="range" min="0" max="100" value="0" class="slider" step="1" name="liveness">        <Br>
                    Speechiness:      <input type="range" min="0" max="100" value="0" class="slider" step="1" name="speechiness">     <Br>
                    Mode:             <input type="range" min="0" max="100" value="0" class="slider" step="1" name="mode">            <Br><br>
                    Explicit:         <input type="range" min="0" max="100" value="0" class="slider" step="1" name="explicit">        <Br><br>
                    Year:             <input type="range" min="0" max="100" value="0" class="slider" step="1" name="year">            <Br><br>            
                    Key:              <input type="range" min="0" max="100" value="0" class="slider" step="1" name="key">             <Br><br>
                    Loudness:         <input type="range" min="0" max="100" value="0" class="slider" step="1" name="loudness">        <Br><br>
                    Tempo:            <input type="range" min="0" max="100" value="0" class="slider" step="1" name="tempo">           <Br><br>
                            
                <input type="submit" value = "Submit"/>
    
            </form>

        </div>

        <br>

        <div>
            <p>User Graph:</p>
            {{graphUser}}
            <br>
        </div>

        <div>
            <p>User Attributes:</p>
            {{data}}
            <br>
        </div>

        <div>
            <h3>Estimed Popularity:</h3>>
            {{pop}}
        </div>

    </body>
</html>